body {
    margin: 0;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#head {
    padding-top: 30px;
}

#head a.active {
    color: red;
}
#head a.active:hover{
    color: blue;
}

#head a {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #DFFFFE;
}

#head a:hover {
    color: red;
}

#content {
    text-align: center;
    margin-top: 50px;
    color: #DFFFFE;
}

.chevron-down:hover {
    background-color: white;
    border-radius: 30px;
}

#head a .contact:hover{
    color: red;
    background-color: white;
}

.contact {
    background-color: red;
    padding: 4px;
    border-radius: 20px;
}
