.myreport {
  margin-top: 80px;
  margin-left: 90px;
  margin-right: 90px;
  
}

.header {
  position: static;
}

.bug1 img {
  float: left;
  padding-right: 50px;
  padding-bottom: 50px;
  width: 30%;
}

.bug1 {
  padding: 50px;
}

.bug2 img {
  float: left;
  padding-right: 50px;
  padding-bottom: 50px;
  width: 30%;
}

.bug2 {
  padding: 50px;
}

.bug3 img {
  float: left;
  padding-right: 50px;
  padding-bottom: 50px;
  width: 30%;
}

.bug3 {
  padding: 50px;
}


#logo {
  border-radius: 50px;
}


.contact:hover{
  color: red;
  background-color: white;
}

.contact {
  background-color: red;
  color: black;
  padding: 4px;
  border-radius: 20px;
  text-decoration: none;
}

.log {
  text-decoration: none;
}

a.nav-link {
  color: white;
  font-weight: bold;
}

a.nav-link.active {
  color: red;
  font-weight: bold;
}

a.nav-link.active:hover {
  color: blue;
  font-weight: bold;
}

a.nav-link:hover {
  color: red;
  font-weight: bold;
}

a.log.far.fa-user{
  color: red;
  font-weight: bold;
}


a.log.far.fa-user:hover{
  color: blue;
  background-color: white;
  border-radius: 10px;
  padding: 4px;
}